<html>

<head>

  <title>Belajar Itu Penting !!!</title>

  <link rel="stylesheet" href="/css/main.css"/>

</head>

<body>

  <section id="main">

    <div class="container">

      <%= content %>

    </div>

  </section>

  <script src="/js/main.js"></script>

</body>

</html>